.header{
  text-align: center;
}

#table{
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

#tableCell{
  border: 2px solid black;
  background-color: white;
}

.footer{
  text-align: center;
}

#startButton {
  position: relative;
  margin-left: 49%;
}